<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>${project.name} - ${project.version} - r${buildNumber}</display-name>
	<servlet>
		<servlet-name>jersey</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		
		<init-param>
			<param-name>endpoint</param-name>
			<param-value>http://giv-mss.uni-muenster.de:8081/parliament</param-value>
		</init-param>
		
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.mss.tsproxy</param-value>
		</init-param>

		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
			<param-value>com.sun.jersey.api.container.filter.LoggingFilter;org.mss.tsproxy.CorsFilter</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.cointainer.ContainerRequestFilters</param-name>
			<param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.feature.logging.DisableEntitylogging</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
			<param-value>true</param-value>
		</init-param>
		
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<listener>
		<listener-class>org.mss.tsproxy.JerseyLoggingListener</listener-class>
	</listener>

	<servlet-mapping>
		<servlet-name>jersey</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
